*{
    box-sizing: border-box;
    font-weight: 100;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
/************ menu bar **********/
.menu_bar{
    /* border: 2px solid red; */
    /* background-color:brown; */
    height:5rem;
    width:100vw;
    display: flex;
    align-items: center;
}


.new_open_save_container{
    margin-top: 1rem;
    height:70%;
    border-right:1px solid black;
    width:25%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
   
}



.icon_container{
    height:60%
}
.fas{
    
    font-size:1.5rem;

}


.formula_bar{
    height: 2rem;
    /* background-color: lightpink; */
}

.sheet_container{
    background-color: beige;
    height: 2.5rem;
}
.grid_container{
    height:calc(100vh - (5rem + 2rem + 2.5rem) );
    /* background-color: lightgreen; */
    /* overflow: auto; */
    overflow-x:scroll ;
}
.cell{
    border: 0.1px solid rgb(160, 156, 156);
    height: 1.4rem;
    text-align:center;
    outline:none;
    border-right: none;
    border-top: none;

}


.top_row{
    
    display: flex;
    position: relative;
    left: 2rem;
    top: -1.4rem;
    background-color: #f1f2f6;
    /* color: rgb(177,170,170); */
   
}
.top_row .cell{
    /* these cell are flexed */
    padding-top: 0.21rem;
    text-align: center;
    min-width: 6rem;
    border-top: 0.1px solid rgb(160, 156, 156);
    font-size: 0.7rem;

}
.left_col>.cell{
    padding-top:0.21rem;
    
    font-size: 0.7rem;
}

.left_col{
    width: 2rem;
    text-align: center;
    position: relative;
    top: -1.45rem;
    background-color: #f1f2f6;
    
}


.grid .cell{
    
    width: 5rem;
    border:0.02px solid rgb(160,158,158);
    border-top:none;
    border-right: none;

}

.top_left_cell{
    height: 1.4rem;
    width: 2rem;
    /* background-color: gray; */
    border-right: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
}

.row{
    display: flex;

}

.grid .cell{
    min-width: 6rem;
}

.grid_container{
    position: relative;
}

.grid{
    position: absolute;
    top: 1.35rem;
    left: 2rem;
    
}
/***************** formula bar*****************/

.formula_bar{
    /* vertical center */
    display: flex;
    align-items: center;
    /* the browser distributes space between and around content items  */
    /* horizontal center */
    justify-content: center;
}

.formula_bar>*{
    height: 70%;
}

.formula_bar>div{
    margin-left: 1rem;
    margin-right: 1rem;
}

.address_input{
    width: 4rem;
    text-align: center;
}

.formula_input{
    width:calc(100vw - 8rem);
}